* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    width: 1440px;
    margin: 0 auto;
}

a {
    color: #fff;
}

/*--------------------*/

.header {
    display: flex;
    gap: 1.5rem;
    height: 9rem;
    margin:1.5rem 0 1.5rem 0;
}

.header__block {
    background-color: #777777;
    color: #fff;
    padding: 1rem;
}

.header__block_1 {
    flex-basis: 10%;
}

.header__block_2 {
    flex-basis: 25%;
}

.header__block_3 {
    display: flex;
    gap: 0.5rem;
    flex-basis: 65%;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

.header__text {

}

/*---------------------*/

.main {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    gap: 1.5rem;
}

.main__aside {
    flex-basis: 14%;
    color: #fff;
}

.main__aside-block {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-width: 14rem;
    min-height: 10rem;
    padding: 1rem 1rem 3rem 1rem;
    background-color: #777777;
}

.main__item {
    text-decoration: none;
}

.item-active {
    font-weight: 700;
}

.main__content {
    flex-basis: 85%;
    color: #787878;
}

.main__article {
    min-height: 19rem;
    background-color: #DCDCDC;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.article__list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-left: 3rem;
}

.main__photo-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns:repeat(5, 14rem) ;
    grid-template-rows: 15rem 15rem;
    margin-bottom: 1.5rem;
}

.main__photo {
    background-color: #DCDCDC;
}

.main__additions {
    display: flex;
    gap: 1.5rem;
}

.main__addition {
    padding: 1rem;
    line-height: 1.6rem;
    flex-basis: 50%;
    min-height: 18rem;
    background-color: #DCDCDC;
}

/*-------------------*/

.footer {
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
}

.footer__block {
    background-color: #777777;
    flex-basis: 33%;
    min-height: 5rem;
    max-height: 14rem;
    padding: 1rem 2rem;
    color: #fff;
}

.points {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.points__list {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.points__item {
    list-style: none;
}

.rate__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: square;
}

.rate__list a {
    text-decoration: none;
}

.footer__block-wrapper {
    flex-basis: 33%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-height: 14rem;
}

.footer__block-wrapper > * {
    flex-basis: 50%;
}